.post_wrapper {
    padding: 20px;
    border: 2px solid #e5e7eb;
    margin: 30px 0;
}
.post_title {
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--dark-blue-header);
    letter-spacing: 0.05em;
}
.post_content {
    color: var(--light-grey-text);
    font-size: 14px;
}
.post_user {
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--dark-blue-header);
    letter-spacing: 0.05em;
}